// Background colors
$navBgColor: #134074;
$navBgColorLowOpacity: rgba(19, 64, 116, 0.5);
$notesNavBgColor: #8da9c4;
$notesAreaBgColor: hsl(215, 66%, 22%);

$textColorPrimary: #eeeeee;
$textColorSecondary: #134074;

// Fonts
$font: "Quicksand";
$titleFont: "Dancing Script";
$noteFont: "Open Sans";
$fontReg: 400;
$fontBold: 600;
$fontMedium: 500;
